@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&display=swap');

:root {
    --dark-green: #4a7337;
    --light-green: #80af6a;
    --beige: #ddd48f;
    --light-brown: #cda989;
    --dark-brown: #462e1b;
}

*{
    box-sizing: border-box;
    font-family: 'Orbitron';
    font-weight: 400;
    letter-spacing: 1.1px;
}

body{
    margin: 0;
    display: block;
    justify-content: center;
    text-align: center;
    background-color:#100E0E;
    color: var(--light-brown);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23004839' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23005546' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23004839' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23005546' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23036353' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%2337200d' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%233e2715' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23462E1B' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%233e2715' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%2337200d' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23462E1B' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%2337200d' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23462E1B' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%233e2715' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23462E1B' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}

main {
    background-color: #100E0E;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    /* width: 98vw; */
    max-width: 93vw;
    border-radius: 10px;
    /* box-shadow: inset var(--light-brown) -10px 10px 15px -12px; */
    justify-content: center;
    animation: fadeIn 1s;
}

p {
    color: var(--beige);
}

header h1 {
    background:#100e0e ; 
    background-color: #100E0E;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%23462E1B' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='2.1' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' stroke-opacity='0.31'%3E%3Cg transform='rotate(72 0 0)' %3E%3Ccircle fill='%23462E1B' fill-opacity='0.31' r='10'/%3E%3Cg transform='rotate(-120 0 0)'%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(-4.8 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform='rotate(54 0 0)'%3E%3Cg transform='rotate(45 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(21.6 0 0)'%3E%3Cg transform='rotate(27 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(-54 0 0)'%3E%3Cg transform='rotate(-54 0 0)'%3E%3Cg transform='rotate(-28.8 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
    /* text-shadow: #036353 3px 0px 4px; */
    font-weight: 700;
    font-size: 48px;
    color:var(--light-brown);
    border:groove var(--light-brown);
    border-top:none;
    border-radius: 3.5px;
    border-left:none;
    box-shadow: var(--light-brown) 10px 10px 15px -12px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px ;
    margin: 0px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

main h2 { 
    font-weight: 600;
    font-size: 28px;
}

main h3 { 
    text-align: start;
    width: 100%;
    font-weight: 500;
    font-size: 24px;
}

main article p {
    text-align: start;
    padding: 50px;
}


footer {
    margin-top: 75px;
    padding-top: 25px;
    padding-bottom: 50px;
    left: 0;
    right: 0;
    background-color: var(--dark-green);
}

footer p {
    font-weight: 300;
    font-size: 16px;
    font-family: 'Chakra Petch';
    margin: 6px 0 ;
}

form {
    text-align: center;
    margin: 0 auto;
    width: 300px;
}

form label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

form label ul li {
    list-style: none;
    display: flex;
}

nav {
    background: #100e0e;
    border-color: var(--beige);
    border-radius: 8px;
    border-style:solid;
    border-width: .3px;
    border-top: none;
    border-left: none;
    border-right: none;
    /* box-shadow: inset 0px 7px 9px -5px #036353; */
    width:45vw;
    height: 45px;
    margin: 0 auto;
    align-content: center;
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}


nav ul li {
    list-style: none;
    margin: 0px 5px;
    padding-right: 6px;
    padding-left: 6px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 5px;
    align-content: center;
}

nav ul li:hover {
    box-shadow:0px 5px 8px -5px #036353, inset 0px -1px 9px -3px var(--light-brown);
}

nav ul li a {
    font-weight:600;
    color: var(--beige);
}

/* nav ul li a:hover {
    
} */

aside ul {
    display: block;
    text-align: start;
}

aside ul li {
    margin: 15px 0px;
    list-style: none;    
}

ol {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    width: auto;
}

a {
    text-decoration: none;
    color: var(--light-green);
    font-family: 'Chakra Petch';
    letter-spacing: 1.1px;
    font-size: 20px;
}

/* GALERIA */

.galery{
    display: flex;
    width: 90vw;
    min-width: 200px;
    height: 10vw;
    justify-content: center;
    align-items: center;
    margin: 7vh 0;
}
.galery a {
    display: flex;
    margin: 0 10px;
}
.galery a, .galery a img{
    width: 0px;
    height: 10vw;
    border-radius: 10px;
    flex-grow: 1;
    object-fit: cover;
    transition: .5s ease;
    filter: brightness(100%);
    max-width: 470px;
    max-height: 280px;
}
.galery:hover a img{
    filter: brightness(30%);
}
.galery a:hover, .galery a img:hover{
    cursor: pointer;
    width: 30vw;
    height: 25vw;
    filter: brightness(100%);
    z-index: 1;
}

/* SLIDER */

.slider {
    aspect-ratio: 16/10;
    position: relative;
    display: none;
    overflow: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.slider a{
    margin: 0 0;
    width: 90%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: start;
}

.slider img {
    width: 90vw;
    height: 100%;
    left: 0;
    position: sticky;
}

.newgame-form ul {
    padding:0 0;
    list-style: none;
    text-align: start;
    margin: 0 0;
    width: 100%;
    height: 130px;
    margin-bottom: 7px;
}

.newgame-form ul li {
    display: flex;
    padding: 5px 0;
}

.newgame-form label {
    display: block;
    width: 50px;
}

.newgame-form .submit-button {
    display: flex;
    justify-content: center;
}

.newgame-form .submit-button .submit-label-button {
    background-color: var(--dark-brown);
    border: solid var(--light-brown);
    border-radius:8px ;
    color: var(--dark-green);
    text-align: center;
    width: 100px;
    margin-top: 25px;
}

.contact-form {
    text-align: center;
    margin: 0 auto;
    width: 300px;
}

.game-list{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, 18%);
    gap: 60px 30px;
}

.game-list li {
    list-style: none;
}

.game-list a {
    display: block;
    text-align: center;
    width: 100%;
    height: 10vw;
}

.game-list img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.game-list p {
    display: block;
    text-overflow: ellipsis ;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-family: 'Chakra Petch';
    letter-spacing: 1.1px;
    font-size: 19px;
    max-width: 100%;
}

.add-new a{
    border: var(--light-brown) dashed 7px;
    border-radius: 20px;
}

.add-new div {
    height: 43%;
}

.add-new p {
    color: var(--light-brown);
}

.add-new a:hover {
    border-color: white;
}
.add-new a:hover p {
    color: white;
}

/* PAGINA DE VIDEOJUEGO */

.details-videogame .details-img {
    display: flex;
}

.details-videogame .details-img img {
    width: 50vw;
    object-fit: cover;
    border-radius: 20px;
}

.details-videogame .details-info {
    width: 50vw;
    text-align: start;
    margin-left: 20px;
}

.details-videogame .details-info p, .details-videogame .details-info a {
    margin: 0 0;
    margin-left: 20px;
    margin-bottom: 50px;
}

.details-videogame .details-info h3 {
    margin: 10px 0;
}

.details-videogame .details-description {
    text-align: start;
    margin-left: 10px;
}

/* ANIMACIONES */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* ----------- */

/* MEDIA QUERIES */

/* MOBILE */
@media screen and (max-width: 699px) {
    header h1 {
        font-size: 7vw;
    }
    .game-list {
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .game-list a {
        height: 50vw;
    }

    .game-list p {
        font-size: 26px;
    }

    .galery {
        display: none;
    }

    .slider {
        display: flex;
    }

    .details-videogame .details-img {
        display: block;
    }

    .details-videogame .details-img img {
        width: 85vw;
        object-fit: cover;
        border-radius: 20px;
        margin-bottom: 20px;
    }

    .details-videogame .details-info p, .details-videogame .details-info a {
        margin: 0 0;
        margin-bottom: 20px;
    }
}

/* TABLET */
@media screen and (min-width: 700px) and (max-width: 1066px) {
    .game-list {
        grid-template-columns: repeat(auto-fit, 45%);
    }

    .game-list a {
        height: 25vw;
    }

    .game-list p {
        font-size: 22px;
    }
}

/* DESKTOP SMALL */
@media screen and (min-width: 1067px) and (max-width: 1433px) {
    .game-list {
        grid-template-columns: repeat(auto-fit, 30%);
    }

    .game-list a {
        height: 16vw;
    }
}

/* DESKTOP MEDIUM */
@media screen and (min-width: 1434px) and (max-width: 1799px) {
    .game-list {
        grid-template-columns: repeat(auto-fit, 22%);
    }

    .game-list a {
        height: 12vw;
    }
}

/* MOBILE ASIDE */

@media screen and (max-width: 466px) {
    header div {
        display: flex;
        align-items: center;
    }

    header nav {
        display: none;
    }

    header aside {
        display: block;
        width: 100%;
    }
}

/* PC NAVBAR */

@media screen and (min-width: 467px) {
    header a{
        /* margin: 1px 100%; */
        /* margin: 0 0px; */
        width: 100%;
        padding-bottom: 12px;
        width: 510px;
    }

    header nav {
        display: block;
    }

    header aside {
        display: none;
    }

    #aside-button {
        display: none;
    }
}
/* ------------- */

/* Imagenes de miniatura estan mal, se estan usando imagenes pesadas modificandole el tamaño, Thumb

Seguir viendo temas de diseño

*/